<div class="edit-category-form">
  <form [formGroup]="editCategoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required>

      <div *ngIf="editCategoryForm.get('name').touched && editCategoryForm.get('name').errors">
        <small class="text-danger" *ngIf="editCategoryForm.get('name').errors['required']">
          name is required.
        </small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!editCategoryForm.valid">Update Category</button>
  </form>
</div>
