<div class="container-fluid">
  <div class="header">
    <h1>{{movieDetails?.title +' details'}}</h1>
  </div>
  <div class="movie-details">
    <ng-container *ngIf="movieDetails.title">
      <div>
        <label for="title"><b>Title:</b></label>
        <p>{{movieDetails?.title}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="movieDetails.category">
      <div>
        <label for="category"><b>Category:</b></label>
        <p>{{movieDetails?.categoryId}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="movieDetails.releasedate">
      <div>
        <label for="title"><b>Release Date:</b></label>
        <p>{{movieDetails?.releasedate}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="movieDetails.director">
      <div>
        <label for="status"><b>Director:</b></label>
        <p>{{movieDetails?.director}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="movieDetails.image">
      <div>
        <label for="status"><b>Image:</b></label>
        <img src="{{movieDetails?.image}}" alt="{{movieDetails?.title}}" style="height: 100px; width: 100px;">
      </div>
    </ng-container>
  </div>
</div>
