<div class="edit-movie-form">
  <form [formGroup]="editMovieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" required>

      <div *ngIf="editMovieForm.get('title').touched && editMovieForm.get('title').errors">
        <small class="text-danger" *ngIf="editMovieForm.get('title').errors['required']">
          Title is required.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="categoryId">Category:</label>
      <select id="categoryId" formControlName="categoryId" required>
        <option *ngFor="let category of categoryList" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="releasedate">Release Date:</label>
      <input type="text" id="releasedate" formControlName="releasedate" required>
      <div *ngIf="editMovieForm.get('releasedate').touched && editMovieForm.get('releasedate').errors">
        <small class="text-danger" *ngIf="editMovieForm.get('releasedate').errors['required']">
          Release Date is required.
        </small>
      </div>
    </div>
      <div class="form-group">
        <label for="director">Director:</label>
        <input type="text" id="director" formControlName="director" required>
        <div *ngIf="editMovieForm.get('director').touched && editMovieForm.get('director').errors">
          <small class="text-danger" *ngIf="editMovieForm.get('director').errors['required']">
            Director is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="url" id="image" formControlName="image" required>
        <div *ngIf="editMovieForm.get('image').touched && editMovieForm.get('image').errors">
          <small class="text-danger" *ngIf="editMovieForm.get('image').errors['required']">
            Image is required.
          </small>
        </div>
      </div>
  </form>
  <button type="submit" class="btn btn-primary" [disabled]="!editMovieForm.valid">Update Movie</button>
</div>
