
<div class="main-content">
  <button [routerLink]="['/movies/create-movie']" type="button" class="create-new-button">Create new</button>

  <div class="movie-cards">
    <div *ngFor="let item of movieList" class="movie-card" [ngStyle]="{'background-image': 'url(' + item?.image + ')'}">
      <div class="card-content">
        <div class="card-header">
          <h3>{{item?.title}}</h3>
        </div>
        <div class="card-body">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="card-footer text-right">
            <a [routerLink]="'/movies/edit-movie/' + item.id" [queryParams]="{ movieId: item.id}">
              <i class="fa fa-pencil green p-2 pointer"></i>
            </a>
            <a [routerLink]="'/movies/movie-details/' + item.id" [queryParams]="{ movieId: item.id}">
              <i class="fa fa-eye green p-2 pointer"></i>
            </a>
            <i class="fa fa-trash text-danger p-2 pointer" (click)="deleteMovie(item)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="deleteMovieModal" class="delete-modal">
  <div class="delete-modal-header">
    <h3 class="delete-modal-header-title">Delete Movie</h3>
  </div>
  <div class="delete-modal-content">
    <h4> Are you sure you want to proceed with the deletion of <b>{{clickedMovieData.title}}</b>?</h4>
  </div>
  <div class="delete-modal-footer">
    <button type="button" class="delete-button bg-danger"
      (click)="deleteMovieFromTable(clickedMovieData.id)">Delete</button>
    <button type="button" class="create-new-button" (click)="closeDeleteMovieModal()">Cancel</button>
  </div>
</div>

